.messages {
	margin: 40px 0 56px;

	&__title {
		font-size: 25px;
		font-weight: 800;
		line-height: 25px;
		color: var(--phoenix-1100);
		width: 559px;
		padding-bottom: 18px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px dashed var(--phoenix-gray-200);

		span {
			font-size: 25px;
			font-weight: 400;
			line-height: 25px;
			color: var(--phoenix-700);
			margin-left: 2px;
		}
	}
}
