@import '../../styles/bundle.scss';

.footer {
	width: 100%;
	height: 4rem;
	padding: 0 40px 0 294px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-top: 1px solid var(--phoenix-navbar-footer-border-color);

	&__text {
		font-size: 16px;
		font-weight: 400;
		color: rgba(var(--phoenix-900-rgb), var(--phoenix-text-opacity));

		a {
			@include link-reset;
			color: var(--phoenix-link-color);
			margin: 0 4px;

			&:hover {
				color: var(--phoenix-link-hover-color);
				text-decoration: underline;
			}
		}
	}

	&__version {
		font-size: 16px;
		font-weight: 400;
	}

	@media (max-width: 990px) {
		padding: 0 24px;
	}
}
